<div class="fix" id="currency_data">
  <% fields_for @order.currency_order, currency_order do |f| %>
  <div class="row">
    <span class="fix-left">Divisa:</span>
    <span class="fix-right" id="currencies_list"><%= f.simple_select(Currency, currency_order.currency_id)%></span>
  </div>
  <% if currency_order.nil?%>
  <%= render :partial => "currency_data", :locals => {:f => f} %>
  <% end%>
</div>
<% end%>

<%= observe_field :currencies_list, :url => { :controller => 'currency', :action => :replace_value }, :frequency => 0.25, :update => :currency_value %>
