<p>
  <span id="cell_left"><%= filelist.file_type.name %></span>
  <span id="cell_right" style="text-decoration: underline; color: blue;"><%= link_to filelist.filename,  get_file_order_request_path(filelist.id), :method => :get %></span>
</p>
