<% new_or_existing = order_project.new_record?  ? 'new' : 'existing' %>
<div class="row" style="background-color: #e2eef3;" id="<%= order_project.dom_id %>">
  <% fields_for "projects[#{new_or_existing}][]", order_project do |project| %>
    <span class="op_type">
      <%= simple_select(:projects, ProjectType) %>
    </span>
    <span class="op_name">
      <%= project.text_field :name, :size => '50', :maxlenght => '100' %>
    </span>
    <span class="op_number">
      <%= project.text_field :key, :size => '5', :maxlenght => '10' %>
    </span>
    <% end %>
</div>
