 <div class="row">
    <% fields_for "providers[]", order_provider do |provider| %>
    <span class="td_content">
      <%= provider.text_field :name, :size => '100', :maxlenght => '150' %>
    </span>
    <span class="td_actions">
      <%= link_to_function "Borrar", "$(this).up('.row').remove();" %>
    </span>
    <% end %>
  </div>
