      <p>
        <span id="cell_left">Cantidad:</span>
        <span id="cell_right"><%= product.quantity %></span>
      </p>
      <p>
        <span id="cell_left">Descripción:</span>
        <span id="cell_right"><%= product.description%></span>
      </p>
      <p>
        <span id="cell_left">Precio por unidad:</span>
        <span id="cell_right"><%= product.price_per_unit%></span>
      </p>
      <br>

