<p>
  <span id="cell_left">Producto:</span>
  <span id="cell_right"><%= products_show.description %></span>
</p>
<p>
  <span id="cell_left">Cantidad:</span>
  <span id="cell_right"><%= products_show.quantity %></span>
</p>
<p>
  <span id="cell_left">Costo por unidad:</span>
  <span id="cell_right"><%= products_show.price_per_unit %></span>
</p>

<br>
