      <p>
        <label>Cantidad: <%= product.quantity %></label>
      </p>
      <p>
        <label>Descripción:  <%= product.description%></label>
      </p>
      <p>
        <label>Precio por unidad: <%= product.price_per_unit%></label>
      </p>
      <br>

