
<h1>Su solicitud  ha sido  enviada<h1>
<h4>Con los siguientes datos:</h4>
<div>
<p>
<label>Fecha de levantamiento: <%= @order.date %></label>
</p>
<p>
<label>Fecha de levantamiento: <%= @order.date %></label>
</p>
</div>
