<p>
  Su sesión ha terminado!!!
</p>
<p>
  Si desea entrar al sistema, presione <%= link_to "aquí", :controller => "sessions"  %>.
<!--Si desea entrar al sistema, presione <%= link_to "aquí", session_path  %> -->
</p>
