[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = git://github.com/rails/auto_complete.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/rpdf"]
	path = vendor/plugins/rpdf
	url = git://github.com/alexjr85/rpdf.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
