<div id="collection">
  A continuación se listan las solicitudes internas de compra por parte del personal del IFUNAM.
  <%= render 'shared/index'%>
  <div id="currency_form">
   <%= render :partial => 'record', :collection => @collection%>
   <%= will_paginate @collection %>
  </div>
</div>

