Su orden de compra ha sido enviada!!

Ahora debe esperar para recibir la notificación del status de su orden de compra.

Gracias por usar el GIIF!!

                              Instituto de Física, UNAM.
