<% fields_for CurrencyOrder.new do |currency_order| %>
<div class="row">
  <span class="fix-left">Divisa:</span>
  <span class="fix-right"><%= currency_order.text_field :value, :size => '25', :maxlenght => '50' %></span>
</div>
<% end%>

<% fields_for Currency.new do |currency| %>
<div class="row">
  <span class="fix-left">Tipo de cambio:</span>
  <span class="fix-right"><%= currency.text_field :name, :size => '25', :maxlenght => '50' %></span>
</div>
<div class="row">
  <span class="fix-left">Fuente:</span>
  <span class="fix-right"><%= currency.text_field :url, :size => '25', :maxlenght => '50' %></span>
</div>
<%= currency.submit "Almacenar", :onclick => "return (confirm('¿Desea almacenar esta orden de compra?'));"%>
<% end%>
