<div class="row">
  <span class="fix-left">Tipo de cambio:</span>
  <span class="fix-right"><%= @currency.get_value%></span>
</div>
<div class="row">
  <span class="fix-left">Fuente:</span>
  <span class="fix-right"><%= link_to 'The Money Converter', @record.url %></span>
</div>
