body {background-color: #E6E6EF; font: 9pt Arial, sans-serif;}

/*Structure of layouts*/

#container {
    background-color: #ffffff;
    width: 1100px;
    margin: 0 4em 0 4em;
}
#header {
    text-align: center;
}
#menu {
    width: 100%;
}
#title{
    text-align: center;
    width: 1100px;
}
#contain {
    float: left;
    width: 1000px;
    text-align: left;
}
#footer {
    font: bold italic 14px georgia, times, serif;
    text-align: right;
    clear: both;
}

/*login and menu*/
#text_login{
    font: bold 14px georgia, times, serif;
    margin-left: 245px;
}
.td_text {
    margin-left: 30em;
    display:table-cell;
    width: 100px;
    vertical-align: top;
    padding: 2px;
    }
.td_textbox{
    display:table-cell;
    width: 400px;
    vertical-align: top;
    padding: 2px;
}

/*Menu*/
#link_cell{
    font: bold 14px georgia, times, serif;
    color: white;
    display:table-cell;
    width: 220px;
    text-align: center;
    background-color: #ccddee;
    padding: 2px;
}

/*Advice*/
.notice {
    background-color: yellow;
    font: bold italic 14px georgia, times, serif;
    text-align: center;
}
/*General cells*/
.row{
   // display: table-row;
   padding: 2px;
   border-bottom: 1px solid silver;
}
.cell{
   display: table-cell;
   padding: 0px;
}
/*Orders*/
#title_ob{
    text-size: medium;
    text-align: center;
}
.cell1{
   display: table-cell;
   padding: 0px;
   width: 200px;
}
.cell2{
   display: table-cell;
   padding: 0px;
   width: 250px;
}
#data{
    margin-left: 100px;
    font: bold 14px georgia, times, serif;
}
#data-order{
    margin-left: 100 px;
    font: bold 45px georgia, times, serif;
}
.list-line-odd {
    background-color: #ffffff
}
.list-line-even {
    background-color: #ffffff
}
.th_content {
    display:table-cell;
    width: 50px;
    padding: 2px;
    text-align: left;
}
.th_quantity{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}
.th_description {
    display: table-cell;
    width: 600px;
    padding: 2px;
    text-align: left;
}
.th_price {
    display: table-cell;
    width: 100px;
    padding: 2px;
    text-align: left;
}
.th_actions_pd {
  display:table-cell;
  width: 60px;
  padding: 2px;
  text-align: left;
}
.th_value {
  display: table-cell;
  width: 60px;
  padding: 2px;
  text-align: left;
}
.th_actions {
  display:table-cell;
  width: 15%;
  padding: 2px;
  text-align: left;
}
.id_th{
    display: table-cell;
    font-weight: bold;
    width: 60px;
}

.description_th{
    display: table-cell;
    font-weight: bold;
    width: 500px;
}

.amount_th{
    display: table-cell;
    font-weight: bold;
    width: 90px;
}

.date_th{
    display: table-cell;
    font-weight: bold;
    width: 90px;
}

.status_th{
    display: table-cell;
    font-weight: bold;
    width: 90px;
}

.actions_th{
    display: table-cell;
    font-weight: bold;
    width: 170px;
}

.id_td{
    display: table-cell;
    width: 60px;
//    border: 1px solid silver;
}
.description_td{
    display: table-cell;
    width: 500px;
//    border: 1px solid silver;
}

.amount_td{
    display: table-cell;
    width: 90px;
//    border: 1px solid silver;
}

.date_td{
    display: table-cell;
    width: 90px;
//    border: 1px solid silver;
}

.status_td{
    display: table-cell;
    width: 90px;
//    border: 1px solid silver;
}

.actions_td{
    display: table-cell;
    width: 170px;
//    border: 1px solid silver;
}



/* .id_td{ */
/*     display: table-cell; */
/*     width: 5%; */
/*    padding-right: 30px; */
/*     max-width: 12px; */
/* } */

/* .description_td{ */
/*     display: table-cell; */
/*     width: 350px; */
/* //    padding-right: 300px; */
/*     max-width: 350px; */
/*     position: relative; */
/* } */

/* .amount_td{ */
/*     display: table-cell; */
/*     width: 10%; */
/* } */

/* .date_td{ */
/*     display: table-cell; */
/*     width: 10%; */
/* } */

/* .actions_td{ */
/*     display: table-cell; */
/*     width: 30%; */
/* } */



/*Total*/
#total{
    margin-left: 615px;
}

/*Links*/
#links{
    text-align: right;
    color: green;
}

/**/

#select{
    margin-left: 263px;
}

#collection{
    display: table;
    width: 100%;
//    border: 1px solid magenta;
    margin-bottom: 10px;
    padding: 10px;
}

#collection a{
    color: blue;
    text-decoration: none;
}

#collection a:hover {
    color: green;
    text-decoration: none;
}

/*style for each cell of order request*/
.pv_description{
    display:table-cell;
    width: 700px;
    padding: 2px;
    text-align: left;
}
.pv_actions{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}
.pd_quantity{
    display:table-cell;
    width: 60px;
    padding: 2px;
    text-align: left;
}
.pd_description{
    display:table-cell;
    width: 600px;
    padding: 2px;
    text-align: left;
}
.pd_price{
    display:table-cell;
    width: 100px;
    padding: 2px;
    text-align: left;
}
.pd_actions{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}
.of_filetype{
    display:table-cell;
    width: 130px;
    padding: 2px;
    text-align: left;
}
.of_file{
    display:table-cell;
    width: 350px;
    padding: 2px;
    text-align: left;
}
.of_actions{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}
.op_type{
    display:table-cell;
    width: 120px;
    padding: 2px;
    text-align: left;
}
.op_name{
    display:table-cell;
    width: 430px;
    padding: 2px;
    text-align: left;
}
.op_number{
    display:table-cell;
    width: 100px;
    padding: 2px;
    text-align: left;
}
.op_actions{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}