body {
    background-color: #6f9fef;
    font: 9pt Arial, sans-serif;
    margin: 0px 0px 0px 0px;
}

/*Structure of layouts*/
#container {
    background-color: #ffffff;
    width: 1100px;
    margin: auto
}

#header {
    text-align: center;
}

#menu {
    width: 100%;
}

#title{
    text-align: center;
    width: 1100px;
}

#contain {
    float: left;
    width: 1000px;
    text-align: left;
}

#footer {
    font: bold italic 14px;
    text-align: right;
    clear: both;
}

/*login and menu*/
#text_login{
    font: bold 14px;
    margin-left: 245px;
}
.td_text {
    margin-left: 30em;
    display:table-cell;
    width: 100px;
    vertical-align: top;
    padding: 2px;
    }
.td_textbox{
    display:table-cell;
    width: 400px;
    vertical-align: top;
    padding: 2px;
}

/*Menu*/
#link_cell {
    font-size: 14px;
    color: ##CC3366;
    display:table-cell;
    width: 220px;
    text-align: center;
    background-color: #e2eef3;
    padding: 2px;
}

/*Advice*/
.notice {
    background-color: yellow;
    font: bold italic 14px;
    text-align: center;
}

/*Session logout*/
.login {
    text-align: center;
}


/*General cells*/
.row{
   // display: table-row;
   padding: 2px;
   border-bottom: 1px solid silver;
   width: 95%;
}

.row_0 {
   padding: 2px;
   border-bottom: 1px solid silver;
   width: 95%;
   background-color: #E6E6FA;
}

.row_1 {
   padding: 2px;
   border-bottom: 1px solid silver;
   width: 95%;
   background-color: #F5F5F5;
}

.cell{
   display: table-cell;
   padding: 0px;
}
/*Orders*/
#title_ob{
    text-size: medium;
    text-align: center;
}
.cell1{
   display: table-cell;
   padding: 0px;
   width: 200px;
}
.cell2{
   display: table-cell;
   padding: 0px;
   width: 250px;
}
#data{
    margin-left: 100px;
    font: bold 14px;
}
#data-order{
    margin-left: 100 px;
    font: bold 45px;
}
.list-line-odd {
    background-color: #ffffff
}
.list-line-even {
    background-color: #ffffff
}
.th_content {
    display:table-cell;
    width: 50px;
    padding: 2px;
    text-align: left;
}
.th_quantity{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}
.th_description {
    display: table-cell;
    width: 600px;
    padding: 2px;
    text-align: left;
}
.th_price {
    display: table-cell;
    width: 100px;
    padding: 2px;
    text-align: left;
}
.th_actions_pd {
  display:table-cell;
  width: 60px;
  padding: 2px;
  text-align: left;
}
.th_value {
  display: table-cell;
  width: 60px;
  padding: 2px;
  text-align: left;
}
.th_actions {
  display:table-cell;
  width: 15%;
  padding: 2px;
  text-align: left;
}
.id_th{
    display: table-cell;
    font-weight: bold;
    width: 60px;
}

.description_th{
    display: table-cell;
    font-weight: bold;
    width: 500px;
}

.amount_th{
    display: table-cell;
    font-weight: bold;
    width: 90px;
}

.date_th{
    display: table-cell;
    font-weight: bold;
    width: 90px;
}

.status_th{
    display: table-cell;
    font-weight: bold;
    width: 90px;
}

.actions_th{
    display: table-cell;
    font-weight: bold;
    width: 170px;
}

.id_td{
    display: table-cell;
    width: 60px;
}
.description_td{
    display: table-cell;
    width: 500px;
}

.amount_td{
    display: table-cell;
    width: 90px;
}

.date_td{
    display: table-cell;
    width: 90px;
}

.status_td{
    display: table-cell;
    width: 90px;
}

.status_td img {
    vertical-align: bottom;
}


.actions_td{
    display: table-cell;
    width: 170px;
}

/*Total*/
#total{
    margin-left: 615px;
}

/*Links*/
#links {
    text-align: right;
    color: green;
}

#return {
    padding-right: 150px;
    text-align: right;
}

#return a {
    text-decoration: none;
    color: green;
    font-size: 12px;
}

#return img {
    color: white;
}

#return a:hover {
    text-decoration: none;
    color: red;
}

#send_mail {
    padding-top: 5px;
}

#send_mail a {
    text-decoration: none;
    color: green;
    font-size: 12px;
    vertical-align: middle;
}

#send_mail img {
    color: white;
    padding-top: -10px;
    vertical-align: bottom;
}

#add {
    padding-left: 650px;
}

#add img {
    color: white;
    vertical-align: bottom;
}

#add a {
    text-decoration: none;
    color: green
    font-size: 12px;
    vertical-align: middle;
}

#add a:visited {
    color: green;
}

/**/

#select{
    margin-left: 263px;
}

#collection{
    display: table;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 70px;
}

#collection a{
    color: blue;
    text-decoration: none;
}

#collection a:hover {
    color: green;
    text-decoration: none;
}

/*style for each cell of order request*/
.pv_description{
    display:table-cell;
    width: 700px;
    padding: 2px;
    text-align: left;
}
.pv_actions{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}
.pd_quantity{
    display:table-cell;
    width: 60px;
    padding: 2px;
    text-align: left;
}
.pd_description{
    display:table-cell;
    width: 400px;
    padding: 2px;
    text-align: left;
}
.pd_price{
    display:table-cell;
    width: 100px;
    padding: 2px;
    text-align: left;
}

.pd_type {
    display:table-cell;
    width: 240px;
    padding: 2px;
    text-align: left;
}
.pd_actions{
    display:table-cell;
    width: 50px;
    padding: 2px;
    text-align: left;
}
.of_filetype{
    display:table-cell;
    width: 130px;
    padding: 2px;
    text-align: left;
}
.of_file{
    display:table-cell;
    width: 350px;
    padding: 2px;
    text-align: left;
}
.of_actions{
    display:table-cell;
    width: 120px;
    padding: 2px;
    text-align: left;
}
.op_type{
    display:table-cell;
    width: 120px;
    padding: 2px;
    text-align: left;
}
.op_name{
    display:table-cell;
    width: 430px;
    padding: 2px;
    text-align: left;
}
.op_number{
    display:table-cell;
    width: 100px;
    padding: 2px;
    text-align: left;
}
.op_actions{
    display:table-cell;
    width: 70px;
    padding: 2px;
    text-align: left;
}

#user_profile {
        margin-top: 15px;
        border-bottom: 1px solid silver;
}

#user_profile b{
        display: table-cell;
        float: left;
        width: 200px;
}

/*style for show page*/
#cell_left{
    font-weight: bold;
    display: table-cell;
    width: 200px;
}
#cell_right{
    display: table-cell;
    width: 300px;
}

#or_data {
    width: 800px;
    margin: auto;
    padding-left: 100px;
}

#top_image {
    background: url("../images/top.jpg");
    min-height: 30px;
    display-inline: block;
}

#user_data {
    background: url("../images/middle.jpg");
    min-height: 200px;
    display-inline: block;
}

#bottom_image {
    background: url("../images/bottom.jpg");
    min-height: 30px;
    display-inline: block;
}

/* style for h3 labels */
h3 {
    color: green;
}

/*stylesheet for FIX indicator*/
.fix {
    background-color: #e2eef3;
    width: 375px;
    float: right;
}

.fix-left {
    display: table-cell;
    width: 100px;
}

.fix-right {
    display: table-cell;
    width: 275px;
}

/*CSS for template of order request*/
#template_header {
    text-align: center;
    font: 8pt Arial, sans-serif;
    background: url("../images/escudo_unam.jpg");
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 50px;
    height: 90px;
}

#order_request_data {
    width: 1060px;
    margin: 0px 20px 0px 20px;
    font: 9pt arial, sans-serif;
    font-weight: bold;
}

#order_request_data a {
    padding-top: 4px;
    display: inline-block;
}

#datacell_left {
    border: 1px solid black;
    margin-bottom: 5px;
    width: 180px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#datacell_right {
    border: 1px solid black;
    border-left: none;
    width: 340px;
    height: 20px;
    display: inline-block;
}

#datacell_right a {
    padding-left: 20px;
}

#template_date {
    margin-left: 200px;
    border: 1px solid black;
    min-height: 20px;
    width: 200px;
    text-align: center;
    display: inline-block;

 }

#template_date a {
    padding-left: 20px;
    text-decoration: underline;
    display: inline-block;
}

#number_title {
    border: 1px solid black;
    width: 35px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#number_cell {
    border: 1px solid black;
    border-top: none;
    width: 30px;
    height: 20px;
    display: inline-block;
    padding-right: 5px;
    text-align: right;
    font-weight: normal;
}

#quantity_title {
    border: 1px solid black;
    border-left: none;
    width: 100px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#quantity_cell {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: -3px;
    width: 50px;
    height: 20px;
    display: inline-block;
    padding-right: 50px;
    text-align: right;
    font-weight: normal;
}

#description_title {
    border: 1px solid black;
    border-left: none;
    width: 588px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#description_cell {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: -3px;
    width: 568px;
    height: 20px;
    display: inline-block;
    padding-left: 20px;
    font-weight: normal;
}

#unit_title {
    border: 1px solid black;
    border-left: none;
    width: 50px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#unit_cell {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: -3px;
    width: 30px;
    height: 20px;
    display: inline-block;
    padding-right: 20px;
    text-align: right;
    font-weight: normal;
}

#price_per_unit_title {
    border: 1px solid black;
    border-left: none;
    width: 140px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#price_per_unit_cell {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: -3px;
    width: 80px;
    height: 20px;
    display: inline-block;
    padding-right: 60px;
    text-align: right;
    font-weight: normal;
}

#total_title {
    border: 1px solid black;
    border-left: none;
    width: 140px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#total_cell {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: -3px;
    width: 80px;
    height: 20px;
    display: inline-block;
    padding-right: 60px;
    text-align: right;
    font-weight: normal;
}

#total_sum {
    border: 1px solid black;
    border-top: none;
    width: 80px;
    height: 20px;
    display: inline-block;
    text-align: right;
    padding-right: 60px;
    font-weight: normal;
}


#provider_title {
    border: 1px solid black;
    border-left: none;
    width: 1022px;
    height: 20px;
    display: inline-block;
    text-align: center;
}

#provider_cell {
    border: 1px solid black;
    border-top: none;
    border-left: none;
    margin-left: -3px;
    width: 1002px;
    height: 20px;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    padding-left: 20px;
}

#attached {
    border: 1px solid black;
}

#charge {
    border: 1px solid black;
}

#inrow-left {
    padding-left: 100px;
    width: 150px;
    display: inline-block;
}

#inrow-right {
    display: inline-block;
}

#budget_advice {
   border-bottom: 1px solid black;
    text-align:center;
    background-color: #DCDCDC;
    margin-bottom: 10px;
}

#code_title {
    padding-left: 20px;
    width: 350px;
    display: inline-block;
}

#extaccount_title {
    width: 350px;
    display: inline-block;
}

#prevnumber_title {
    width: 250px;
    display: inline-block;
}

#observations_title {
    padding-left: 20px;
    width: 100px;

}

#text_area_observations {
    width: 600px;
    padding-left: 120px;
}

#row_submit {
    text-align: right;
    padding-right: 250px;
}

#acquisition_cell {
    width: 348px;
    display: inline-block;
}

/*columns of *acquisition/order_requests*/
.description_acq{
    display: table-cell;
    font-weight: bold;
    width: 370px;
}

.date_update_acq{
    display: table-cell;
    font-weight: bold;
    width: 110px;
}

