#error_messages {
  margin-left: 50px; }

#file_form {
  width: 100%;
  margin-left: 50px; }

#form_data {
  margin-left: 50px; }

#row_header {
  width: 500px;
  text-align: center;
  font-weight: bold;
  background-color: #C0C0C0; }

#number_header {
  width: 50px;
  display: inline-block; }

#description_header {
  width: 436px;
  display: inline-block; }

#product_row {
  width: 500px;
  background-color: #DCDCDC; }

#numeric_cell {
  width: 50px;
  text-align: center;
  display: inline-block; }

#description_text_cell {
  width: 400px;
  padding-left: 40px;
  display: inline-block; }

#attachment_row {
  width: 620px;
  font-weight: bold;
  background-color: #C0C0C0; }

#attachment_header {
  width: 350px;
  display: inline-block; }

#file_type_header {
  width: 120px;
  display: inline-block; }

#actions_header {
  width: 140px;
  display: inline-block; }

#attachment_cell {
  width: 620px; }

#submit {
  width: 150px;
  margin-left: 440px; }
