#error_messages {
  margin-left: 50px; }

#file_form {
  width: 100%;
  margin-left: 50px; }

#form_data {
  margin-left: 50px; }

#row_header {
  width: 500px;
  font-weight: bold;
  background-color: #C0C0C0;
  display: table; }

#quantity_header {
  width: 70px;
  text-align: center;
  display: inline-block;
  border: 1px solid black; }

#description_header {
  width: 427px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-left: none; }

#product_row_odd {
  width: 500px;
  background-color: #DCDCDC;
  display: table; }

#product_row_even {
  width: 500px;
  background-color: #F5F5F5;
  display: table; }

#quantity {
  width: 70px;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  border-top: none; }

#description {
  width: 387px;
  padding-left: 40px;
  display: inline-block;
  border: 1px solid black;
  border-top: none;
  border-left: none; }

#attachment_row {
  width: 620px;
  font-weight: bold;
  background-color: #C0C0C0; }

#attachment_header {
  width: 350px;
  display: inline-block; }

#file_type_header {
  width: 120px;
  display: inline-block; }

#actions_header {
  width: 140px;
  display: inline-block; }

#attachment_cell {
  width: 620px; }

#submit {
  width: 150px;
  margin-left: 440px; }
