#file_form {
  width: 100%;
  margin-left: 50px; }

#form_data {
  margin-left: 50px; }

#row_header {
  width: 500px;
  text-align: center;
  background-color: #C0C0C0; }

#number_header {
  width: 50px;
  display: inline-block; }

#description_header {
  width: 436px;
  display: inline-block; }

#product_row {
  width: 500px;
  background-color: #DCDCDC; }

#numeric_cell {
  width: 50px;
  text-align: center;
  display: inline-block; }

#description_text_cell {
  width: 400px;
  padding-left: 40px;
  display: inline-block; }

#attachment_cell {
  width: 500px; }
