<p>
  <span id="cell_left"><%= files_show.file_type.name %></span>
  <span id="cell_right" style="text-decoration: underline; color: blue;"><%= link_to files_show.file_file_name, files_show.file.url, :target => '_new' %></span>
</p>
