<div id="datacell_left">
  <a>ÁREA SOLICITANTE:</a>
</div>
<div id="datacell_right">
  <a><%= @order_reporter.user_adscription_name %></a>
</div>
<div id="template_date">
  FECHA: <a><%= @order_reporter.order_date_formatted %></a>
</div>
<div id="table-row">
  <div id="datacell_left">
    <a>NOMBRE DEL SOLICITANTE:</a>
  </div>
  <div id="datacell_right">
    <a><%= @order_reporter.user_fullname%></a>
  </div>
</div>
<div id="table-row">
  <div id="datacell_left">
    <a>TELÉFONO:</a>
  </div>
  <div id="datacell_right">
    <a><%= @order_reporter.user_phone%></a>
  </div>
</div>

<br/>
