  <div id="table-row">
<div id="number_cell">
  <a><%= html_view_provider_row_counter +1 %></a>
</div>
 
<div id="provider_cell">
  <a><%= html_view_provider_row.name%></a>
</div>

<div id="provider_email_cell">
  <a><%= html_view_provider_row.email%></a>
</div>
</div>
