%br
%br
.row{ :style => "font-weight: bold;" }
  %span.id
    No. de orden
  %span.description
    Descripcion de artículos
  %span.date
    Fecha de solicitud
  %span.date_update
    Última fecha de actualización
  %span.status
    Estado
  %span.actions
    Acciones
