<div id="datacell_left"><a>ÁREA SOLICITANTE:</a></div><div id="datacell_right"><a><%= @order.user_adscription_name%></a></div>
<div id="template_date">FECHA DE SOLICITUD: <a><%= @order.order_date%></a></div><br/>
<div id="datacell_left"><a>NOMBRE DEL SOLICITANTE:</a></div><div id="datacell_right"><a><%= @order.user_fullname%></a></div><br/>
<div id="datacell_left"><a>TELÉFONO:</a></div><div id="datacell_right"><a><%= @order.user_phone%></a></div><br/>