<div>
<div id="number_cell">
  <a><%= preview_estimate_product_counter + 1%></a>
</div>
<div id="quantity_cell">
  <a><%= preview_estimate_product.quantity%></a>
</div>
<div id="description_cell">
  <a><%= preview_estimate_product.description%></a>
</div>
<div id="unit_cell">
  <a><%= preview_estimate_product.unit_type.name%></a>
</div>
</div>