<div id="number_title"><a>No.</a></div><div id="estimate_provider_title"><a>PROVEEDOR(ES)</a></div><div id="email_title"><a>CORREO ELECTRÓNICO</a></div>
<%= render :partial => 'shared/preview_estimate_provider', :collection => @order.providers%>
