<div id="number_title"><a>No.</a></div><div id="quantity_title"><a>CANTIDAD</a></div><div id="description_title"><a>DESCRIPCIÓN DE LOS BIENES E INSUMOS REQUERIDOS</a></div><div id="unit_title"><a>UNIDAD</a></div>
<%= render :partial => 'shared/preview_estimate_product', :collection => @order.products%>
