<div>
<div id="number_cell">
  <a><%= preview_estimate_provider_counter +1%></a>
</div>
<div id="estimate_provider_cell">
  <a><%= preview_estimate_provider.name%></a>
</div>
<div id="email_cell">
  <a><%= preview_estimate_provider.email%></a>
</div>
</div>