<p>
  <span id="cell_left">Producto:</span>
  <span id="cell_right"><%= products_estimate.description %></span>
</p>
<p>
  <span id="cell_left">Cantidad:</span>
  <span id="cell_right"><%= products_estimate.quantity %></span>
</p>
<p>
  <span id="cell_left">Unidad:</span>
  <span id="cell_right"><%= products_estimate.unit_type.name %></span>
</p>
<p>
  <span id="cell_left">Categoría del producto:</span>
  <span id="cell_right"><%= products_estimate.product_category.name %></span>
</p>
<br>
