<p>
  <span id="cell_left">Proveedor:</span>
  <span id="cell_right"><%= providers_estimate.name %></span>
</p>
<p>
  <span id="cell_left">Correo electrónico:</span>
  <span id="cell_right"><%= providers_estimate.email %></span>
</p>
<br>
