<div id="return">
  <%= link_to 'Regresar a inicio', {:action => 'index', :controller => controller_name}%>
  <%= link_to( image_tag("return.png", :size => '25x25'), {:action => 'index', :controller => controller_name})%>
</div>