<% f.fields_for :file do |order_file_form| %>
<div class="row" style="background-color: #e2eef3;">
  <span class="of_filetype">
    <%= order_file_form.select(:file_type_id, FileType.all(:order => 'name ASC').collect { |record| [record.name, record.id]}, :prompt => '--Seleccionar--')%>
  </span>

 <span class="of_file" id="<%= 'order_file_upload' %>">
   <%= order_file_form.file_field(:file) %>
 </span>

  <span class="of_actions">
   <% unless !order_file_form.object.nil? %>
    <%=  link_to_function("Cambiar archivo", nil, :id => "more_link") do |page|
         page.replace_html  'order_file_upload', order_file_form.file_field(:file)
         end %>
   <% end %>
  </span>
</div>
<% end %>

