<p>
  <span id="cell_left">Nombre del proyecto:</span>
  <span id="cell_right"><%= project_show.name %></span>
</p>
<p>
  <span id="cell_left">Tipo de proyecto:</span>
  <span id="cell_right"><%= project_show.project_type.name %></span>
</p>
<p>
  <span id="cell_left">Número de proyecto:</span>
  <span id="cell_right"><%= project_show.key %></span>
</p>
<br>
