<% index = index_file_form(file, file_counter, index ||= file_counter) %>
<div id="files">
<% fields_for 'order[files_attributes]' do |file_form| -%> 

<p> 
  <% unless file.file.size.nil? %>
  <%= link_to file.file_file_name, file.file.url, :target => '_new' %>
  <% else %>
  <%= file_form.file_field :file, :index => index %>
  <%= file_form.select :file_type_id, FileType.all.collect {|record| [record.name, record.id]}, {:prompt => "--Seleccionar--"}, {:index => index} %>
  <% end %>
</p> 
<% end -%> 
</div> 
