<%- 
  index ||= file_counter
  new_or_existing = file.new_record? ? 'new' : 'existing'
  id_or_index = file.new_record? ? index : file.id 
  prefix = "order[files_attributes]" 
-%> 


<div id="files">
<% fields_for :files do |file_form| -%> 
<p> 
  <%= file_form.file_field :file, :index => id_or_index%>
</p> 
<% end -%> 
</div> 
