= javascript_tag("my_index = (parseInt($('file_form_index').value) + 1); $('file_form_index').setValue(my_index);")

#files
- f.fields_for prefix do |file_form|
  = file_form.file_field :file
  = file_form.select(:file_type_id, FileType.all.collect {|record| [record.name, record.id]})
  = link_to_function "Quitar", "$(this).up('order_files_attributes__file').remove();"

