<div id="logout">
  Su sesión ha terminado.<br/>
  Gracias por usar el módulo de administración del área de Presupuestos del GIIF.
</div>
<div id="back-to-login">
  Si desea entrar al sistema de nueva ocasión, presione <%= link_to "aquí", :controller => "sessions"  %>.
</div>
