<div>
<%= link_to 'Ver solicitud',  :action => 'show_pdf', :id => record.id%><br/>

<% if record.acquisition.nil?%>
  <%= link_to 'Agregar datos', :action => 'add_data', :id => record.id%>
<% else%>
  <%= link_to 'Editar', :action => 'edit', :id => record.id%>
<% end%>
</div>
