<div id="collection">
  A continuación se listan las ordenes de compra solicitadas por el personal del IFUNAM.
  <div id="currency_form">
  </div>
<br/><br/>
  <div class="row">
    <span class="id_th">No. de orden</span>
    <span class="description_th">Descripcion de artículos</span>
    <span class="date_th">Fecha de solicitud</span>
    <span class="status_th">Estado</span>
    <span class="actions_th">Acciones</span>
  </div>
  <%= render :partial => 'record', :collection => @collection %>
  <div>
    <%= will_paginate @collection %>
  </div>
</div>
