<p>
  <span id="cell_left">Nombre del proyecto:</span>
  <span id="cell_right"><%= project.name %></span>
</p>
<p>
  <span id="cell_left">Tipo de proyecto:</span>
  <span id="cell_right"><%= ProjectType.find(project.project_type_id).name %></span>
</p>
<p>
  <span id="cell_left">Número de proyecto:</span>
  <span id="cell_right"><%= project.key %></span>
</p>
<br>
